.hw12 span {
    font-family: "Courier New";
    font-weight: bold;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.yellow {
    background-color: lightgoldenrodyellow;
}
.yellow-text {
    color:saddlebrown;
}

.blue {
    background-color: lightblue;
}
.blue-text {
    color: darkblue;
}
