.messageBuild {
    display: flex;
    align-items: flex-end;
    margin: 10px;

}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;

}

.messageContanier {

    padding: 10px;
    background-color: black;
    border-radius:  5px 5px 5px 0;

}

.name {
    font-weight: bold;
    font-size: 20px;
    color:red;
    font-family: "Courier New";
}

.messageText {
    font-family: "Courier New";
    min-width: 150px;
    max-width: 300px;
    overflow-wrap:break-word;
    color:white;

}

.time {
    color: gray;
    display: flex;
    justify-content: flex-end;
    font-family: "Courier New";
}

.tre {
    border: 7px solid transparent;
    border-right: 7px solid black;
    border-bottom: 7px solid black;

}

