.SuperEditableSpan {
    padding-bottom: 5px;
    font-family: "Courier New";

}
.SuperEditableSpan::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background: url(pen.svg);
    background-size: 20px;
}