.someClass {

}

.list {
    display: flex;

    padding-bottom: 20px;
}

.name {
    width: 150px;

}

.priority {
    width: 150px;


}
.buttonDelete {
    width: 70px;
}

.buttonFelster {
    width: 70px;

}

.buttonFil {
    margin-right: 25px;
    width: 70px;
}