.someClass {

}

.list {
    display: flex;

    padding-bottom: 20px;
}

.name {
    width: 150px;

}

.priority {
    width: 150px;

}
.buttonDelete {
    width: 70px;
}

.buttonFelster {
    width: 70px;
    padding-right: 20px;
}

.buttonFil {
    margin-right: 30px;
    width: 70px;
}