.default {
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    font-family: "Courier New";
    background-color: white;
    padding-right: 5px;
}

.red {
    box-shadow: 0 0 8px 0 pink;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    font-family: "Courier New";
    background-color: white;
    padding-right: 5px;
}

.contain {
    padding-right: 5px;
}